@model Recipe

<!-- A breadcrumb partial -->
<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/recipe","Recipes"),
    ($"/recipe/details/{Model.Id}", $"Recipe {Model.Id}"),
    ("","Edit")
    
}) />

<div class="card rounded shadow p-4">
    <h3>Edit Recipe</h3>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

         <!-- we hide the id as its not user editable but needs to be in the -->
        <!-- form to ensure the student passed to the controller is complete -->    
        <input type="hidden" asp-for="Id" class="form-control"/>

        <!-- name -->
        <div class="mt-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span  asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Description -->
        <div class="mt-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control"/>
            <span  asp-validation-for="Description" class="text-danger"></span>
        </div>
    
         <!-- PrepTime, CookTime and Serviving input in single row -->   
        <div class="row mt-3">
            <div class="col">
                <label asp-for="PrepTime" class="form-label"></label>
                <input asp-for="PrepTime" class="form-control"/>
                <span asp-validation-for="PrepTime" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="CookTime" class="form-label"></label>
                <input asp-for="CookTime" class="form-control"/>
                <span  asp-validation-for="CookTime" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="Servings" class="form-label"></label>
                <input asp-for="Servings" class="form-control"/>
                <span  asp-validation-for="Servings" class="text-danger"></span>
            </div>
        </div>
        

        <!-- DietType, MealCategory and CuisineStlye input in single row -->      
        <div class="row mt-3">
            <div class="col">
                <label asp-for="DietType" class="form-label"></label>
                <input asp-for="DietType" class="form-control"/>
                <span asp-validation-for="DietType" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="MealCategory" class="form-label"></label>
                <input asp-for="MealCategory" class="form-control"/>
                <span  asp-validation-for="MealCategory" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="CusineStyle" class="form-label"></label>
                <input asp-for="CusineStyle" class="form-control"/>
                <span  asp-validation-for="CusineStyle" class="text-danger"></span>
            </div>
        </div>

         <!--Carbs, Fat and Protein input in single row -->   
         <div class="row mt-3">
            <div class="col">
                <label asp-for="Carbs" class="form-label"></label>
                <input asp-for="Carbs" class="form-control"/>
                <span asp-validation-for="Carbs" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="Fat" class="form-label"></label>
                <input asp-for="Fat" class="form-control"/>
                <span  asp-validation-for="Fat" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="Protein" class="form-label"></label>
                <input asp-for="Protein" class="form-control"/>
                <span  asp-validation-for="Protein" class="text-danger"></span>
            </div>
        </div>


         <!-- Ingredients and Direction input in single row -->   
         <div class="row mt-3">
            <div class="col">
                <label asp-for="Ingredients" class="form-label"></label>
                <input asp-for="Ingredients" class="form-control"/>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>


            <div class="col">
                <label asp-for="Direction" class="form-label"></label>
                <input asp-for="Direction" class="form-control"/>
                <span  asp-validation-for="Direction" class="text-danger"></span>
            </div>
        </div>

        <!-- add PhotoUrl input group - ensure input field type is url -->
        <div class="mt-3">
            <label asp-for="PhotoUrl" class="form-label"></label>
            <input asp-for="PhotoUrl" type="url" class="form-control"/>
            <span  asp-validation-for="PhotoUrl" class="text-danger"></span>
        </div>

       <!-- submit button and cancel link which navigates to Index action -->
        <div class="mt-3">
            <button type="submit" class="btn btn-primary" aria-label="save">Save</button>
            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id" aria-label="cancel" >Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 