@model RecipeSearchViewModel

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Recipes")
}) />

<!-- Title bar -->
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h3>Recipes </h3>
        <a class="btn btn-primary" asp-condition=@User.HasOneOfRoles("admin,support") asp-action="create" title="add recipe" aria-label="add recipe">
           <i class="bi bi-plus"></i> Create Recipe</a> 
    </div>

<div class="card border rounded shadow p-4">
        <partial name="_Search" />

    <!-- List of Recipes -->
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                @* search Id in ascending and descending order *@
                <th>
                #
                <a asp-action="Index" asp-route-order="id" asp-route-direction="asc"><i class="bi bi-sort-alpha-up"></i></a>
                <a asp-action="Index" asp-route-order="id" asp-route-direction="desc"><i class="bi bi-sort-alpha-down"></i></a>
                </a>
                </th>

                    @* search name in ascending and descending order *@
                <th>
                 Name
                <a asp-action="Index" asp-route-order="Name" asp-route-direction="asc"><i class="bi bi-sort-alpha-up"></i></a>
                <a asp-action="Index" asp-route-order="Name" asp-route-direction="desc"><i class="bi bi-sort-alpha-down"></i></a>
                </a>
                </th>

                    @* search dietType in ascending and descending order *@
                <th>
                  DietType
                <a asp-action="Index" asp-route-order="DietType" asp-route-direction="asc"><i class="bi bi-sort-alpha-up"></i></a>
                <a asp-action="Index" asp-route-order="DietType" asp-route-direction="desc"><i class="bi bi-sort-alpha-down"></i></a>
                </a>
                </th>

                    @* search Cusine in ascending and descending order *@
                <th>
                    Cuisine
                <a asp-action="Index" asp-route-order="Cusine" asp-route-direction="asc"><i class="bi bi-sort-alpha-up"></i></a>
                <a asp-action="Index" asp-route-order="Cusine" asp-route-direction="desc"><i class="bi bi-sort-alpha-down"></i></a>
                </th>


                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var r in Model.Recipes)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Name</td>
                    <td>@r.DietType</td>
                    <td>@r.CusineStyle</td>
                    <td>                  
                        @* button to navigate to the details page      *@
                        <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id=@r.Id>
                             <i class="bi bi-list " title="view recipe" arial-label="view recipe"></i>
                             <span class="ms-1 d-none d-md-inline">Details</span>
                        </a>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
